// Define variables
$primary-background-color:#e8e8e6;
$secondary-background-color:#d6d4d1;
$primary-card-background:#c5c2be ;
$scania-blue: #041e42;
$scania-red: #df0014;
$scania-white:#d9edf7;

// text colors
$primary-text:#2D2933;
$secondary-text:#47434c;