/** @format */

@import "../../styles/variables";
@import "../../styles/mixins";

.aVSPageContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: $primary-card-background;

  .avsPageContent {
    background-color: $primary-background-color;
    flex: 1;
    padding: 1em;

    .avsPageWriteContent {
      height: 95%;
      display: flex;
      flex-direction: column;
      flex: 1; // Ensure it expands to fill available space
      background-color: aquamarine;
      padding: 1em;
      border: 1px solid $scania-blue;
      border-radius: 0.9em;

      .avsWriteBaseInformation {
        border: 1px solid black;
        flex: 1; // Takes some space but not too much
      }
      .avsWriteTaskList {
        flex: 4; // The largest section
        overflow-y: auto; // Enables scrolling if tasks exceed available space
      }
      .avsWriteTaskForm {
        flex: 1; // Space for the form
      }
      .virtualKeyboardPlaceholder {
        width: 100%;
        height: 150px;
        background-color: $primary-card-background;
        font-size: xx-large;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5em;
        color: gray;
      }
    }
  }
}
