/** @format */

@import "../../styles/variables";

.pageOptionComponentContainer {
  background-color: $primary-card-background;
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  padding: 0.3em;
  .option {
    background-color: $secondary-background-color;
    padding: 0.8em;
    border: 1px solid $scania-blue;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
    width: 100px;

    &:hover {
      background-color: $scania-blue;
      color: $scania-white;
      font-weight: bold;
    }

    &.active {
      background-color: $scania-blue;
      color: $scania-white;
      font-weight: bold;
    }
  }
}
